{{!-- classic way --}}
<a href="/axios">Axios</a>
<h1>Classic way (all is get or post)</h1>

<form action="/updateIngredient" method='POST'>
  <input type="text" name="name" value="{{name}}">
  <input type="text" name="price" value="{{price}}">
  <input type="text" name="calories" value="{{calories}}">
  <input type="hidden" name="_id" value="{{_id}}">

  <input type="submit" name="" id="" value="update">
</form>

<input type="checkbox" name="" id="">