{{!-- classic way --}}
<a href="/axios-creation">Axios creation</a>
<a href="/axios">Axios update</a>

<h1>Classic way (forms only support get or post)</h1>

<form action="/updateIngredient" method='POST'>
  <input type="text" name="name" value="{{name}}">
  <input type="text" name="price" value="{{price}}">
  <input type="text" name="calories" value="{{calories}}">
  <input type="hidden" name="_id" value="{{_id}}">

  <input type="submit" name="" id="" value="update">
</form>