{{!-- modern way --}}
<a href="/">Classic update</a>
<a href="/axios-creation">Axios creation</a>
<h1>Modern way update (axios)</h1>
<h3 style="color: red;">Calories updates the form just by typing on it!</h3>

<form>
  <input type="text" name="name" value="{{name}}">
  <input type="text" name="price" value="{{price}}">
  <input type="text" name="calories" value="{{calories}}">
  <input type="hidden" name="_id" value="{{_id}}">

  <input type="button" name="" id="submit-button" value="update">
</form>

<script>
  function update(e) {
    e && e.preventDefault()

    axios({
      method: 'put',
      url: "/updateIngredient",
      data: {
        _id: "5dd534c8c7127d7aff23df5c",
        name: document.querySelector("input[name=name]").value,
        price: document.querySelector("input[name=price]").value,
        calories: document.querySelector("input[name=calories]").value,
      },
      config: { headers: { 'Content-Type': 'multipart/form-data' } }
    }).then(() => {
      console.log("Updated")
    })
  }

  document.querySelector("input[name=calories]").onkeyup = function () {
    console.log(document.querySelector("input[name=calories]").value)
    update()
  }

  document.querySelector("#submit-button").onclick = function (e) {
    update(e)
  }

</script>